<ion-header>
  <ion-toolbar>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let product of products" class="user-list">
    <ion-label>
      <h5>
        {{ product.name }}
      </h5>
      <p>
        {{ product.price | currency: 'BRL'}}
      </p>
      <p>
        {{ product.category }}
      </p>
    </ion-label>

    <div class="item-note" item-end>
      <ion-button ion-button clear (click)="removeItem(product.cardItemId)">
        <ion-icon name="close" style="zoom:2.0"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-content>