<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrate">Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="productForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input formControlName="price" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-input formControlName="category" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Adicionar produto</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>